body{
    background-color: rgb(183, 230, 231);
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    
}
input{
    margin-bottom: 2rem;
}
textarea{
    margin-bottom: 2rem;
}
.file{
    border: 1px solid gray;
    background-color: white;
}